@import "normalize.css";
@import "theme.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

html,
body {
  height: 100%;
}
body {
  background-color: var(--theme-background-variant);
  display: flex;
  flex-direction: column;
}

main {
  background-color: var(--theme-background);
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: var(--theme-page-width);
  padding: 0 1rem;
  width: 100%;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer {
  flex-shrink: 0;
}

/* Remove browser default ul styling */

a {
  text-decoration: none;
  color: var(--theme-primary);
  &:visited {
    color: var(--theme-primary);
  }
}
