:root {
  --theme-main-text: #212121;
  --theme-primary: #1B5E20;
  /* --theme-primary: #10ac84; */
  --theme-primary-contrast-text: #ffffff;
  --theme-secondary: #2d3436;
  --theme-secondary-contrast-text: #ffffff;
  --theme-tertiary: #e1b12c;
  --theme-secondary-contrast-text: #212121;

  --theme-background: #ffffff;
  --theme-background-variant: #81D4FA;

  --theme-surface: #888888;
  --theme-surface-contrast-text: #888888;
  --theme-footer: #1B5E20;
  --theme-footer-contrast-text: #ffffff;

  --theme-page-width: 800px;
  
  /* Typography */
  --theme-text-size-1: 1.0rem;
  --theme-text-size-2: 1.125rem;
  --theme-text-size-3: 1.25rem;
  --theme-text-size-4: 1.5rem;
  --theme-text-size-5: 1.75rem;
  --theme-text-size-6: 2.0rem;
  --theme-text-size-7: 2.5rem;
  --theme-line-size-1: 1.5rem;
  --theme-line-size-2: 1.5rem;
  --theme-line-size-3: 1.5rem;
  --theme-line-size-4: 2.0rem;
  --theme-line-size-5: 2.0rem;
  --theme-line-size-6: 2.5rem;
  --theme-line-size-7: 3.0rem;  
}
