<!doctype html>
<html lang="en">
  <head>
    {{> head }}
    <script type="module" src="../components/sermon-card.js"></script>
  </head>
  <body>
    {{> menu page="home" }}
    {{> billboard }}
    <main>
      {{> service }}
      {{> contact }}
      {{> latest-sermon }}
      {{> mission }}
      </div>
    </main>
    {{> footer }}
  </body>
</html>
