<!doctype html>
<html lang="en">
  <head>
    {{> head }}
    <script type="module" src="../components/my-element.js"></script>
  </head>
  <body>
    {{> menu page="sermons" }}
    {{> billboard }}
    <main>
      
    </main>
    <!-- <my-element> -->
      <!-- <h1>Vite + Lit  </h1> -->
      <!-- </my-element> -->
    {{> footer }}
  </body>
</html>
