<style>
  .billboard {
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    max-width: var(--theme-page-width);
    position: relative;
    border-bottom: 4px solid var(--theme-secondary);

    img {
      display: block;
      width: 100%;
    }
  }

  .billboard__text {
    color: var(--theme-primary-contrast-text);
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    top: 30%;
    width: 100%;
  }

  .billboard__title {
    font-size: var(--theme-text-size-4);
    line-height: var(--theme-line-size-4);

    @media screen and (min-width: 500px) {
      font-size: var(--theme-text-size-7);
      line-height: var(--theme-line-size-7);
    }
  }

  .billboard__subtitle {
    font-size: var(--theme-text-size-2);
    line-height: var(--theme-line-size-2);

    @media screen and (min-width: 500px) {
      font-size: var(--theme-text-size-4);
      line-height: var(--theme-line-size-4);
    }
  }
</style>

<section class="billboard">
  <div class="billboard__text">
    <h1 class="billboard__title">Bible Fellowship Center</h1>
    <h2 class="billboard__subtitle">Grand Island</h2>
  </div>
  <img aria-hidden="true" alt="" src="/background-church-800.jpg" />
</section>