<style>
  .contact {
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
  }

  .contact__pastor {
    font-size: var(--theme-text-size-2);
    line-height: var(--theme-line-size-2);
    margin-bottom: 0.5rem;

    @media screen and (min-width: 500px) {
      font-size: var(--theme-text-size-3);
      line-height: var(--theme-line-size-3);
    }
  }

  .contact__lines {
    align-items: start;
    display: inline-flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
  }

  .contact__line {
    align-items: center;
    display: flex;
    flex-shrink: 1;
    gap: 0.5rem;
  }
</style>

<section class="contact">
  <div class="contact__pastor">
    Pastor: Rev. Calvin VanderMey
  </div>
  <div class="contact__lines">
    <div class="contact__line">
      {{> icon-email label="email us" size="1.25rem"}}
      bfc1136@gmail.com
    </div>
    <div class="contact__line">
      {{> icon-phone label="call us" size="1.25rem"}}
      716-773-3748
    </div>
  </div>
</section>