<style>
  .footer {
    background-color: var(--theme-footer);
    color: var(--theme-footer-contrast-text);
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    margin: 0 auto;
    max-width: var(--theme-page-width);
    width: 100%;
  }
</style>

<footer id="footer" class="footer">
  © Bible Fellowship Center
</footer>

<script async defer>
  const elFooter = document.getElementById("footer")
  const year = new Date().getFullYear()
  elFooter.textContent = `© ${year} Bible Fellowship Center`
</script>
