<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="icon" type="image/svg+xml" href="/icon.svg" />
<title>{{ title }}</title>

<link rel="stylesheet" href="../styles/index.css" />
