<style>
  .latest-sermon {
  }
  .heading {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
</style>

<section class="latest-sermon">
  <div class="heading">Latest Sermon</div>
  <sermon-card ></sermon-card>
</section>