<style>
  .menu {
    background-color: var(--theme-secondary);
    color: var(--theme-secondary-contrast-text);
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: var(--theme-page-width);
    padding: 0 0.5rem;
    width: 100%;

    li {
      padding: 0.5rem;
    }

    a {
      color: var(--theme-primary-contrast-text);
      text-decoration: none;
    }

    &[data-current-page="home"]>[data-page="home"] {
      background-color: var(--theme-primary);
      color: var(--theme-primary-contrast-text);
    }

    &[data-current-page="sermons"]>[data-page="sermons"] {
      background-color: var(--theme-primary);
      color: var(--theme-primary-contrast-text);
    }

    &[data-current-page="music"]>[data-page="music"] {
      background-color: var(--theme-primary);
      color: var(--theme-primary-contrast-text);
    }

    &[data-current-page="missions"]>[data-page="missions"] {
      background-color: var(--theme-primary);
      color: var(--theme-primary-contrast-text);
    }

    @media screen and (min-width: 500px) {
      gap: 1rem;
      justify-content: flex-start;
    }
  }
</style>

<header class="header">
  <ul class="menu" data-current-page="{{page}}">
    <li data-page="home"><a href="{{basePath}}/">Home</a></li>
    <li data-page="sermons"><a href="{{basePath}}/sermons">Sermons</a></li>
    <li data-page="music"><a href="{{basePath}}/music">Music</a></li>
    <li data-page="missions"><a href="{{basePath}}/missions">Missions</a></li>
    <li><a
        href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=RUMN3BTAQ2BMC&amp;source=url">Give</a>
    </li>
  </ul>
</header>