<style>
  .mission {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: center;
  }
</style>

<section class="mission">
  <p>
    The Ministry of Mission For the glory of God, Bible Fellowship Center is committed
    to spreading the Good News of salvation, equipping the believers, that they might
    become more Christ-like, worship God, and enjoy Him forever.
  </p>

</section>