<style>
  .service {
    text-align: center;
  }

  .service__time {
    font-size: var(--theme-text-size-4);
    line-height: var(--theme-line-size-4);
    margin-bottom: 1rem;

    @media screen and (min-width: 500px) {
      font-size: var(--theme-text-size-5);
      line-height: var(--theme-line-size-5);
    }
  }

  .service__address {
    font-size: var(--theme-text-size-2);
    line-height: var(--theme-line-size-2);

    @media screen and (min-width: 500px) {
      font-size: var(--theme-text-size-2);
      line-height: var(--theme-line-size-2);
    }
  }

  .service__directions {
    font-size: var(--theme-text-size-1);
    line-height: var(--theme-line-size-1);

    @media screen and (min-width: 500px) {
      font-size: var(--theme-text-size-1);
      line-height: var(--theme-line-size-1);
    }
  }

  .service__info {
    font-size: var(--theme-text-size-3);
    line-height: var(--theme-line-size-3);

    @media screen and (min-width: 500px) {
      font-size: var(--theme-text-size-4);
      line-height: var(--theme-line-size-4);
    }
  }

  .service__info {
    margin-top: 1rem;
  }
</style>

<section class="service">
  <div class="service__time">
    Sunday Service at <br />8:30am and 10:15am
  </div>
  <div class="service__address">
    1136 Baseline Road, Grand Island NY 14072
  </div>
  <div class="service__directions">
    <a href="https://www.google.com/maps/dir//1136+Baseline+Rd,+Grand+Island,+NY+14072">
      Get Directions
    </a>
  </div>
  <div class="service__info">
    <ul>
      <li>Come Worship!</li>
      <li>Come to be Blessed!</li>
      <li>Bring Some Friends!</li>
    </ul>
  </div>
</section>
